/* Admin Navbar Styling */
.AdminNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  color: black;
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  /* z-index: 1000; */
}

.AdminNavbar .logo img {
  height: 50px;
}

.menu{
  display: none;
}



.links {
  display: flex;
  gap: 20px;

}

.active{
  color: #0F4C91;
  border-bottom: 2px solid #0F4C91;
}




.li {
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.3s;
}

.li:hover {
  background: rgb(243, 238, 238);
}

/* sidebar styling */
.sidebar {
  position: fixed;
  display: none;
  top: 1rem; /* Appears 2rem from the top */
  right: 1.2rem;
  width: 250px;
  height: calc(100% - 2rem); /* Full height minus the top offset */
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
  transform: translateX(0); /* Visible by default */
}

.sidebar.hidden {
  transform: translateX(100%);
}

.cross {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.cross i {
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}

.item1 {
  list-style: none;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  transition: color 0.2s;
  align-items: center;
}

.item1:hover {
  color: #0F4C91;
}


/* Responsive Design */
@media (max-width: 768px) {
  .links{
    display: none;
  }
  .menu {
      display: block;
  }
}
